body {
  font-size: small;
  font-family: Verdena, Helvetica, Arial, sans-serif;
  line-height: 1.6em;
}
h1,h2{
  color: #007e7e;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

#guarantee {
  padding-left: 1.25em;
}